/* ufontscomtw-cen-mt */
@font-face {
    font-family: "ufontscomtw-cen-mt";
    src: url("../fonts/ufontscomtw-cen-mt.eot");
    src: url("../fonts/ufontscomtw-cen-mt.eot#iefix") format("embedded-opentype"),
    url("../fonts/ufontscomtw-cen-mt.woff") format("woff"),
    url("../fonts/ufontscomtw-cen-mt.ttf") format("truetype"),
    url("../fonts/ufontscomtw-cen-mt.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


@charset "utf-8";

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body {
    margin: 0px;
    padding: 0px;
    background: #333; 
}

p {
    margin: 0;
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ======================================================== 
                        responsive navigation
======================================================== */
.nav-trigger { 
    display: none; 
}

header.container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3a3a3a;
  border-bottom: 1px solid #444;
  box-shadow: 0 3px 7px rgba(0,0,0,.2);
}

.brand { 
    width: 125px; 
}

.nav {
    position: relative;
    margin-top: 17px;
}

.nav-list {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.nav-item {
    width: 20%;
    margin-bottom: 0;
    float: left;
    list-style: none;
    border-right: 5px transparent solid;
}

.nav-item a {
    display: block;
    color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.nav-item a:hover {
    text-decoration: none;
    color: #fff;
}

.mobile-nav { 
    display: none; 
}

/* first nav item */

.nav-item:nth-child(1) a { 
    border-color: #FAD089; 
}

.nav-item:nth-child(1) .fa { 
    color: #FAD089; 
}

/* second nav item */

.nav-item:nth-child(2) a { 
    border-color: #FF9C5B; 
}

.nav-item:nth-child(2) .fa { 
    color: #FF9C5B; 
}

/* third nav item */

.nav-item:nth-child(3) a { 
    border-color: #F5634A; 
}

.nav-item:nth-child(3) .fa { 
    color: #F5634A; 
}

/* fourth nav item */

.nav-item:nth-child(4) a { 
    border-color: #ED303C; 
}

.nav-item:nth-child(4) .fa { 
    color: #ED303C; 
}

/* fifth nav item */

.nav-item:nth-child(5) a { 
    border-color: #3B8183; 
}

.nav-item:nth-child(5) .fa { 
    color: #3B8183; 
}

